<m-portlet [options]="{headLarge: true}">
	<!-- start::Header (attributtes: mPortletHeadTitle|mPortletHeadTools) -->
	<ng-container mPortletHeadTitle>
		<div class="m-portlet__head-title">
			<h3 class="m-portlet__head-text">
				Users list
			</h3>
		</div>
	</ng-container>
	<ng-container mPortletHeadTools>
		<a  [routerLink]="['/users/add']" type="button" class="btn btn-primary">
			New User
		</a>
		<button type="button" class="btn btn-secondary" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed">Filter</button>
	</ng-container>
	<!-- end::Header -->


	<!-- start::Body (attribute: mPortletBody) -->

	<ng-container mPortletBody>
		<div class="row" id="collapseExample" [ngbCollapse]="!isCollapsed">
			<div class="m-form col-md-12">
					<form class="row" novalidate #userForm="ngForm" (ngSubmit)="getList()">

						<table class="table table-bordered table-hover">
							<thead class="">
								<tr>
										<th>User Name</th>
										<th>Email</th>
										<th>Role</th>
										<th> operations</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>
											<input type="text" placeholder="Uesrname" class="form-control form-filter input-sm" id="username" name="username" [(ngModel)]="filterObject.SearchObject.username" #username="ngModel">
									</td>
									<td>
											<input type="text" placeholder="Email" class="form-control form-filter input-sm" id="email" name="email" [(ngModel)]="filterObject.SearchObject.email" #email="ngModel">
									</td>
									<td width="200">
											<ng-select class="" [searchable]="true" [(ngModel)]="filterObject.SearchObject.role_id" name="role" #role="ngModel">
													<ng-option *ngFor="let role of roles" [value]="role.id">{{role.role_name}}</ng-option>
												</ng-select>
									</td>
									<td>
										<div class="margin-bottom-5 in-b  serchbtnMar">
												<button type="submit" class="btn btn-primary m-btn--icon mr-2"> <i class="la la-search"></i> Search</button>
												<button type="button" class="btn btn-secondary m-btn--icon" (click)=resetSearch()> <i class="la la-close"></i>Reset</button>
											
										</div>

									</td>
								</tr>
							</tbody>
						</table>
					</form>
			</div>
		</div>
	</ng-container>
	<ng-container mPortletBody>
		<div class="mat-table__wrapper">
			<mat-table class="lmat-elevation-z8" [dataSource]="dataSource" matSort matSortActive="id" matSortDirection="asc" matSortDisableClear>
				<ng-container matColumnDef="username">
					<th *matHeaderCellDef mat-sort-header class="mat-column-vinCode">Name</th>
					<td *matCellDef="let user" class="mat-column-vinCode">{{user.username}}</td>
				</ng-container>

				<ng-container matColumnDef="email">
					<mat-header-cell *matHeaderCellDef mat-sort-header>Email</mat-header-cell>
					<mat-cell *matCellDef="let user">{{user.email}}</mat-cell>
				</ng-container>
				<ng-container matColumnDef="role">
					<mat-header-cell *matHeaderCellDef mat-sort-header>Role</mat-header-cell>
					<mat-cell *matCellDef="let user">{{user.role.role_name}}</mat-cell>
				</ng-container>

				<ng-container matColumnDef="actions">
					<th *matHeaderCellDef>
						Actions
					</th>
					<td *matCellDef="let user">
						<button class="btn btn-primary" color="edit" type="button" (click)="edit(user.id)" matTooltip="Edit">
							Edit
						</button>&nbsp;
						<button class="btn btn-secondary" color="edit" type="button" matTooltip="Edit">
								Reset Password
							</button>&nbsp;
						<button class="btn btn-danger" color="warn" type="button" (click)="delete(user.id)" matTooltip="Delete">
							Delete
						</button>


					</td>
				</ng-container>

				<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
				<mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
			</mat-table>


		</div>

		<!-- start: BOTTOM -->
		<div class="mat-table__bottom">
			<mat-spinner [diameter]="20" *ngIf="loading$ |async"></mat-spinner>
			<mat-paginator [pageSize]="pageSize" [length]="paginatorTotal$" [showFirstLastButtons]="true"></mat-paginator>
		</div>
	</ng-container>
	<!-- end::Body -->
</m-portlet>