<m-portlet>
	<!-- start::Header (attributtes: mPortletHeadTitle|mPortletHeadTools) -->
	<ng-container mPortletHeadTitle>
		<div class="m-portlet__head-title">
			<h3 class="m-portlet__head-text">
				Add Country
			</h3>
		</div>
	</ng-container>
	<ng-container mPortletHeadTools>

	</ng-container>
	<!-- end::Header -->

	<!-- start::Body (attribute: mPortletBody) -->
	<ng-container mPortletBody>
		<form class="m-form m-form--fit m-form--label-align-right">
			<div class="form-group m-form__group">
				<label for="Jobtitle">Country English Name</label>
				<input type="text" placeholder="English Name" class="form-control m-input m-input--solid" type="text">
			</div>
			<div class="form-group m-form__group">
					<label for="Jobtitle">Country Arabic Name</label>
					<input type="text" placeholder="Arabic Name" class="form-control m-input m-input--solid" type="text">
				</div>
				<div class="form-group m-form__group">
						<label for="Jobtitle">Country Phone Code</label>
						<input type="text" placeholder="Phone Code" class="form-control m-input m-input--solid" type="text">
					</div>
		
			
			<div class="form-group m-form__group ">
					<label class="m-checkbox m-checkbox--solid m-checkbox--brand">
						<input type="checkbox"> Is Operating
						<span></span>
					</label>
			
			</div>
			<div class="m-form__actions m-form__actions">
				<button type="submit" class="btn primary-btn m-btn " [disabled]="submitted"> Save
					<i class="fa fa-check" aria-hidden="true"></i>
				</button>
				<button (click)="redirect()" type="button" class="btn m-btn  m--margin-left-10"> Cancel </button>
			</div>
		</form>
		<!-- end: BOTTOM -->
	</ng-container>
	<!-- end::Body -->
</m-portlet>