<m-portlet>
	<!-- start::Header (attributtes: mPortletHeadTitle|mPortletHeadTools) -->
	<ng-container mPortletHeadTitle>
		<div class="m-portlet__head-title">
			<h3 class="m-portlet__head-text">
				Add Category
			</h3>
		</div>
	</ng-container>
	<ng-container mPortletHeadTools>

	</ng-container>
	<!-- end::Header -->

	<!-- start::Body (attribute: mPortletBody) -->
	<ng-container mPortletBody>
		<form class="m-form m-form--fit m-form--label-align-right">
			<div class="form-group m-form__group">
				<label for="Jobtitle">Category English Name</label>
				<input type="text" placeholder="English Name" class="form-control m-input m-input--solid" type="text">
			</div>
			<div class="form-group m-form__group">
				<label for="Jobtitle">Category Arabic Name</label>
				<input type="text" placeholder="Arabic Name" class="form-control m-input m-input--solid" type="text">
			</div>
			<div class="form-group m-form__group">
				<label for="Jobtitle">Order </label>
				<input type="text" placeholder="Order" class="form-control m-input m-input--solid" type="text">
			</div>

			<div class="form-group m-form__group">
				<label for="Jobtitle">Image </label>
				<label class="custom-file">
					<input type="file" id="file2" class="custom-file-input" (change)="fileChangeEvent($event)">
					<span class="custom-file-control"></span>
				</label>
				<div class="row mt-3">
					<div class="col-md-6">
						<image-cropper [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="true" [aspectRatio]="1 / 1" [resizeToWidth]="250"
						 format="png" (imageCropped)="imageCropped($event)" (imageLoaded)="imageLoaded()" (cropperReady)="cropperReady()" (loadImageFailed)="loadImageFailed()"></image-cropper>
					</div>
					<div class="col-md-6 text-center">

						<img [src]="croppedImage" />
					</div>
				</div>


			</div>





			<div class="m-form__actions m-form__actions">
				<button type="submit" class="btn primary-btn m-btn " [disabled]="submitted"> Save
					<i class="fa fa-check" aria-hidden="true"></i>
				</button>
				<button (click)="redirect()" type="button" class="btn m-btn  m--margin-left-10"> Cancel </button>
			</div>
		</form>
		<!-- end: BOTTOM -->
	</ng-container>
	<!-- end::Body -->
</m-portlet>