//== 2: Framework Components Config
@import "./config";


/* You can add global styles to this file, and also import other style files */
//@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@import "./theme";
@import "./mixins";
@import "./general/base";
@import "./general/buttons";
@import "./general/forms";
@import "./general/modals";
// Custom scss
@import "./custom/base";
@import "./custom/portlet";
@import "./custom/tabs";
@import "./custom/wizard";
@import "./custom/accordion";
@import "./custom/typeahead";
@import "./custom/login";
@import "~@ng-select/ng-select/themes/default.theme.css";
@import "./custom/tabs";

//== 6: MasterZ Config
@import "./custom/header/_config";
@import "./custom/aside/_config";

//== 7: MasterZ Layout
@import "./custom/aside/aside-left";

//== Custom portlet
@import "./custom/custom.scss";

body{
	.package{
		padding-bottom:20px;
		border-top: 1px dashed #ebedf2;
	   &:not(:first-child){
		   margin-top: 20px;
	   }
	   }
	   .packages .package:first-child button{
		   display:none;
	   }
}
.mat-table__wrapper {
	width: 100%;
	overflow-x: auto;


	mat-cell, mat-header-cell {
		min-height: 100%;
	}


}

.mat-table__wrapper .mat-table {
	min-width: unset;
	width: 100%;
	&.mat-elevation-z8{
		box-shadow: none
	
	}
}
table{
	td{
		vertical-align: middle!important;
	}
}
.mat-table__wrapper--dashboard .mat-table {
	min-width: 600px !important;
}

.mat-table__wrapper .mat-table .email-cell {
	word-wrap: normal;
	width: 180px;
	flex: auto;
}


.m-mat-dialog-container__wrapper .mat-dialog-container {
	padding: 0;
	overflow-x: hidden;

	.m-portlet {
		margin-bottom: 0;
	}

	.alert {
		border-radius: 0 !important;
		width: 1032px;
	}
}

.mat-table__wrapper--sub .mat-table {
	min-width: 400px;

	.mat-cell:last-child {
		flex: 0 0 100px;
	}

	.mat-header-cell:last-child {
		flex: 0 0 100px;
	}
}

.ml-auto {
	margin-left: auto;
}

.example-full-width {
	width: 100%;
}

mat-radio-button {
	padding-right: 16px;
}

.m-form--alert {
	margin-top: 30px;
}

.mat-column-checkbox {
	flex: 0 0 68px;
}

.mat-column-id {
	flex: 0 0 68px;
}

.mat-column-main {
	flex: 0 0 568px;
}

.mat-column-actions {
	flex: 0 0 160px;
}

.mat-table__bottom {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.mat-column-vinCode {
	flex: 0 0 170px;
}

.m-portlet-mx-0 {
	margin: -1.1rem -2.2rem 0;
	overflow-x: hidden;
}
.mat-table__wrapper .mat-table .mat-row-editing.mat-row-inactive {
	height: 0;
	min-height: 0;
	padding: 0 !important;
	border-bottom:0 !important;
}

.mat-snack-bar-container {
	display: flex;
	align-items: center;
    background: white!important;
    color: #353535 !important;
	box-shadow:0px 1px 15px 1px rgba(69,65,78,0.08);
	button{
		background: transparent;
		margin-right: -80px;
		border: 0;

	}
}
.m-mat-snackbar .m-mat-snackbar__close .material-icons{
	color: #a3a3a3 !important;
}
